---
---
@import "minimal-mistakes/skins/contrast"; // skin
@import "minimal-mistakes"; // main partials

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

.page__footer-copyright{
    display: none;
}