body {
    width: 560px;
    transition: all .2s ease-in-out;
}

#myTab {
    z-index: 1;
}

#addParameter i {
    margin-right: 0.2rem;
}

#optimize i {
    margin-right: 0.4rem;
}

#stop i {
    margin-right: 0.2rem;
}

#plusLogo {
    display: none !important;
}


#plusUpgrade {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 18px;
    background-color: #FD0;
    letter-spacing: .03rem
}

#plusUpgrade i {
    color: white;
}

#topControls {
    display: flex;
    position: absolute;
    top: 9rem;
    width: 100%;
}

#timeFrame {
    display: none;
}

#iteration {
    margin-right: 1.5rem;
    text-align: end;
}

#iteration #value {
    font-weight: 700;
}

#timeFrame .btn-group {
    padding-right: 0.15rem;
}

#timeFrame .btn-group .multiselect {
    font-size: .850rem;
}

#parameters .col-8 {
    flex: 1;
}

#divCheckbox {
    display: none;
    pointer-events: none;
}

#divSelectParameter {
    display: none;
}

.btn-group.select-parameter {
    /* take precedence over nav-bar*/
    position: relative;
    z-index: 100 !important;
}

#divCheckbox label {
    user-select: none;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE/Edge */
}

.with-transition {
    opacity: 0;
    transform: translateY(2px);
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

.with-transition.show {
    opacity: 1;
    transform: translateY(0);
}

#settings{
    display: flex;
    justify-content: flex-end;
    margin-top: .3rem;
}

#skeleton-time-frame {
    display: none;
    position: absolute;
    top: 8.5rem;
}

#skeleton-stop {
    display: none;
    position: absolute;
    padding-top: 0.25rem;
}

#skeleton-iteration .skeleton-horizontal {
    width: 40%;
    display: inline-block;
}

#stop {
    display: none;
    margin-right: 0.6rem;
    margin-top: 0.25rem;
}

#loginButton {
    margin-top: 0.7rem;
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

#logoutButton i {
    margin-right: 0.4rem;
}

#upgradeButton {
    margin-top: 0.5rem;
}

#upgradeButton i {
    margin-left: 0.4rem;
}

#plusLogoInline {
    width: 50%;
    height: auto;
}

#login {
    display: none;
}

#profile {
    display: none;
}

#paidUser {
    display: none;
}

#benefits {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#benefits li {
    background-color: #f9f6ec;
}

#benefits li i {
    margin-right: 0.3rem;
}

#membershipRenewal span h6 {
    margin-top: 0.3rem;
}

#membershipRenewal button {
    margin-top: 0.3rem;
}

#membershipRenewal button i {
    margin-right: 0.3rem;
}

#selectAutoFill {
    display: none;
    margin-bottom: 0.25rem;
    padding-left: 0.25rem;
    max-width: 50%;
}

.toolbar {
    margin-right: 1rem;
}

th[data-field="parameters"],
td[data-field="parameters"] {
    width: 100%;
}

th[data-field="maxprofit"] .th-inner {
    padding-left: 0.3rem !important;
}

td[data-field="maxprofit"] {
    padding-left: 0.3rem !important;
}

@keyframes rowFlash {
    0% {
        background-color: #82caff;
    }

    50% {
        background-color: #ffffff;
    }

    100% {
        background-color: transparent;
    }
}

.flash-row {
    animation: rowFlash 1.2s ease-out;
}

table#table thead {
    font-size: 13px;
}

table#table tbody {
    font-size: 12px;
}

.container-fluid.footer {
    font-size: 14px;
}

/* Settings Dropdown */
#settingsDropdown {
    cursor: pointer;
}

#settingsDropdown + .dropdown-menu {
    min-width: auto;
}

#longRunningOptimizations.form-check-input {
    width: 2.5em;
    height: 1.25em;
}

.form-check-label {
    cursor: pointer;
    user-select: none;
}

#settingsDropdown + .dropdown-menu .form-check-label {
    width: fit-content;
}